server:
  port: 8091
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/workflow_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: workflow_user
    password: workflow_password
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  threads:
    virtual:
      enabled: true
  config:
    import: "optional:consul:"
  cloud:
    consul:
      host: localhost
      port: 8500
      config:
        enabled: true
        prefixes: config
        default-context: dev/settings

logging:
  level:
    org.springframework.boot.autoconfigure: INFO
